* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

i {
  cursor: pointer;
}

#root {
  min-height: 100vh;
  position: relative;
}

#root::before {
  position: absolute;
  content: "";
  width: 100%;
  min-height: 100%;
  background: url("./components/Notes/images/home-bg.jpg") center repeat-y;
  background-size: cover;
  z-index: -10;
  opacity: 0.7;
}