#alert {
    width: 100%;
    height: 7vh;
    color: black;
    margin-top: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#alert p {
    margin-left: 3vw;
    color: white;
}