#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 12vh;
    color: black;
    position: sticky;
    top: 0;
    border-bottom: 0.2vw solid white;
    background-color: black;
}

#navbar #logo h2 {
    color: white;
    font-size: 1.8vw;
    margin-left: 3vw;
    padding: 0.2vw 1vw;
    cursor: pointer;
    /* background-color: burlywood; */
}

#navbar #logo h2:hover {
    color: rgb(230, 152, 36);
    text-shadow: 0.2vw 0.2vw 1vw rgb(255, 255, 255);
}

#navbar #logo #toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 0.4vw;
    border-radius: 0.5vw;
    background-color: black;
}

#navbar #logo #toggle span {
    width: 1.8vw;
    min-height: 0.4vw;
    margin: 0.1vw 0;
    border-radius: 0.5vw;
    background-color: white;
}

#navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-right: 3vw;
    /* background-color: cadetblue; */
}

#navbar ul li {
    list-style: none;
    margin: 0 0.5vw;
    /* background-color: chocolate; */
}

#navbar ul li a {
    text-decoration: none;
    font-size: 1.2vw;
    font-weight: 500;
    color: white;
    padding: 0.2vw 1vw;
    border: 0.15vw solid white;
    border-radius: 0.7vw;
    cursor: pointer;
}

#navbar ul li .active {
    color: black;
    background-color: white;
}

#navbar ul li a:hover {
    background-color: white;
    color: black;
}


/* Media Queries */

@media only screen and (max-width: 480px) {

    #navbar {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5vw 0;
    }

    #navbar ul {
        display: none;
        flex-direction: column;
        margin-top: 3vw;
        width: 100%;
        padding-right: 8vw;
        border-top: 0.5vw solid white;
        padding: 4vw;
        /* background-color: rgb(245, 216, 216); */
    }

    #navbar ul li {
        margin-top: 2vw;
        margin-bottom: 2vw;
        padding: 0.5vw 2vw;
    }
    
    #navbar ul li a {
        font-size: 4vw;
        border-radius: 2vw;
        padding: 1vw 2vw;
    }

    #navbar #logo {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

    #navbar #logo h2 {
        font-size: 6vw;
    }

    #navbar #logo h2:hover {
        text-shadow: 0.4vw 0.4vw 2vw rgb(255, 255, 255);
    }

    #navbar #logo #toggle {
        display: flex;
        margin-left: 10vw;
        padding: 0.8vw;
        border-radius: 1.5vw;
    }
    
    #navbar #logo #toggle span {
        width: 7vw;
        min-height: 1.3vw;
        margin: 0.5vw 0;
        border-radius: 1.5vw;
    }

}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    #navbar {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5vw 0;
    }

    #navbar ul {
        display: none;
        flex-direction: column;
        margin-top: 3vw;
        width: 100%;
        padding-right: 4vw;
        border-top: 0.2vw solid white;
        /* background-color: rgb(245, 216, 216); */
    }

    #navbar ul li {
        margin-top: 2vw;
        padding: 0.5vw 2vw;
        margin-bottom: 2vw;
    }
    
    #navbar ul li a {
        font-size: 4vw;
        border-radius: 2vw;
        padding: 1vw 2vw;
    }

    #navbar #logo {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

    #navbar #logo h2 {
        font-size: 5vw;
    }

    #navbar #logo h2:hover {
        text-shadow: 0.3vw 0.3vw 1.5vw rgb(255, 255, 255);
    }

    #navbar #logo #toggle {
        display: flex;
        margin-left: 10vw;
        padding: 0.8vw;
        border-radius: 1.5vw;
    }
    
    #navbar #logo #toggle span {
        width: 6vw;
        min-height: 1.1vw;
        margin: 0.4vw 0;
        border-radius: 1.5vw;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {

    #navbar #logo h2 {
        font-size: 3vw;
        margin-left: 4vw;
        cursor: pointer;
    }

    #navbar ul {
        margin-right: 3vw;
    }

    #navbar ul li a {
        font-size: 1.8vw;
        border-radius: 1vw;
        padding: 0.5vw 1vw;
    }

}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {

    #navbar #logo h2 {
        font-size: 2.5vw;
        margin-left: 3vw;
        cursor: pointer;
    }

    #navbar ul li a {
        font-size: 1.5vw;
        border-radius: 1vw;
        padding: 0.5vw 1vw;
    }
}